@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: rotateZ(-2deg) translateX(-5px);
  }
  20%,
  40%,
  60% {
    transform: rotateZ(2deg) translateX(5px);
  }
}

@keyframes shake-small {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: rotateZ(-0.5deg) translateX(-0.5px);
  }
  20%,
  40%,
  60% {
    transform: rotateZ(0.5deg) translateX(0.5px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(4px);
  }
}

@keyframes fadeout {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fall {
  15% {
    transform: translateY(-50px);
    
  }
  100% {
    transform: translateY(9999px);
  }
}


.shake {
  animation: shake 1.5s infinite ease-in-out;
}

.shake-small {
  animation: shake-small 1.5s infinite ease-in-out;
}

.bounce {
  animation: bounce 1.5s infinite ease-in-out;
}

.fadeout {
  animation: fadeout 0.2s ease-in-out;
}

.fall {
  animation: fall 3s ease-in-out forwards;
}

.stroke-text {
  text-shadow: -1px -1px 0 #0000002f, 1px -1px 0 #0000002f, -1px 1px 0 #0000002f, 1px 1px 0 #0000002f;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 240 5.9% 5%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-hover: 240 4.8% 85.9%;

    --tertiary: 275 47% 71%;
    --tertiary-foreground: 240 4.8% 95.9%;
    --tertiary-hover: 275 47% 61%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 269 33% 61%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 20px;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

body {
  transform: translate3d();
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
